[submodule "strategy"]
	path = strategy
	url = https://github.com/iaTrader/iaTrader-strategy.git
[submodule "shop"]
	path = shop
	url = https://github.com/iaTrader/iaTrader-shop.git
[submodule "stock"]
	path = stock
	url = https://github.com/iaTrader/iaTrader-stock.git
